.plan{
    margin: 10px;
    padding: 10px;
}

.userInput{
    margin: auto;
    width: 80%;
}

.plan h4{
    font-size: x-large;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }

.planner {
    background-color: #f8f9fa;
    border-style: solid;
    border-color: #007bff;
    border-width: 3px;
}

#time{
    text-align: center;
}

#date{
    text-align: center;
}